body {
	background: url("texture.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: Verdana, sans-serif;
}

table {
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}


tr:hover {
	background-color: lavender;
}

tr:nth-child(even) {
	background-color: #dedfe0;
}

a {
	color: white;
}