body {
	background-color: #c6b8d8;
	background-size: cover;
	font-family: Verdana, sans-serif;
}

table {
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}


tr:hover {
	background-color: lavender;
}

tr:nth-child(even) {
	background-color: #dedfe0;
}

a {
	color: black;
}

ul[class*="list"] {
	display: inline-block;
	vertical-align: middle;
}

ol[class*="list"] {
	display: inline-block;
	vertical-align: middle;
}

.back-home {
	justify-content: center;
}

.navbar {
	background-color: grey;
}

#home {
	margin-top: 5em;
}